/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Russo One', sans-serif;
 */
.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.navbar {
  padding: 0 0 0px;
}
body {
  background: #c3edf7;
}


video {
  border-radius: 1rem;
  margin: 0.5rem;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}



/* *buttons below */
.btn {
  background: #a3ada6;
  background-image: -webkit-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -moz-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -ms-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -o-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: linear-gradient(to bottom, #a3ada6, #7ba2ba);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 31px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #419396;
  background-image: -webkit-linear-gradient(top, #419396, #3498db);
  background-image: -moz-linear-gradient(top, #419396, #3498db);
  background-image: -ms-linear-gradient(top, #419396, #3498db);
  background-image: -o-linear-gradient(top, #419396, #3498db);
  background-image: linear-gradient(to bottom, #419396, #3498db);
  text-decoration: none;
}

.btnMO {
  background: #a3ada6;
  background-image: -webkit-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -moz-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -ms-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: -o-linear-gradient(top, #a3ada6, #7ba2ba);
  background-image: linear-gradient(to bottom, #a3ada6, #7ba2ba);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btnMO:hover {
  background: #419396;
  background-image: -webkit-linear-gradient(top, #419396, #3498db);
  background-image: -moz-linear-gradient(top, #419396, #3498db);
  background-image: -ms-linear-gradient(top, #419396, #3498db);
  background-image: -o-linear-gradient(top, #419396, #3498db);
  background-image: linear-gradient(to bottom, #419396, #3498db);
  text-decoration: none;
}


.cent{
  display: flex;
  justify-content: center;
}
/* ! responsive code below */

/* Styles for desktop/large screens */
@media (min-width: 992px) {
  
  .main1 {
    margin-top: 5%;
    width: 80vw;
    height: auto;

    display: flex;
  justify-content: center; /* Align items horizontally */
  /* align-items: center;  */
  /* Align items vertically */
  }


  .ContVideo {
    background-color: rgba(255, 0, 0, 0);
    /* height: 390px; */
    display: inline-block;

  }

  #localVideo{
    
    width: 30vw;
    height: auto;

  }
  
  #remoteVideo{
    width: 30vw;
    height: auto;


  }
  #ContVid1{

  }
  #ContSpin{
  
  }
  #IDboard{
width: 25vw;
  height: auto;
}
#IDbottle{
  width: 17vw;
  height: auto;
 
top: 12%;
left:16%;
}
  #ContVid2{
  
  }
  .main2 {
    margin-top: 5vh;
 
  }
  
}

/* Styles for tablets and medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .main1 {
    margin-top: 5%;
    
    width: 80vw;
    height: auto;
  }

  .ContVideo {
    background-color: rgba(255, 0, 0, 0);
    /* height: 390px; */
    display: inline-block;

    
  }
  #localVideo{
    width: 30vw;
    height: auto;

  }
  
  #remoteVideo{
    width: 30vw;
    height: auto;

  }
  #ContVid1{

  }
  #ContSpin{
  
  }
  #IDboard{
    width: 25vw;
      height: auto;
    }
    #IDbottle{
      width: 17vw;
      height: auto;
     
    top: 12%;
    left:16%;
    }
  #ContVid2{
  
  }
  .main2 {
    margin-top: 5vh;

  }
  
}

/* Styles for mobile devices */
@media (max-width: 767px) {

  .main1 {
    margin-top: 5%;
    width: 87vw;
    height:75vh;
    
  }
  
  .ContVideo {
    background-color: rgba(255, 0, 0, 0);
    display: inline-block;

  }
  #localVideo{
    width: 80vw;
    height: auto;


  }
  
  #remoteVideo{
    width: 80vw;
    height: auto;



  }


#ContVid1{

}
#ContSpin{


}
#bottleParent{
  text-align: center;
}
#IDboard{
  width: 25vw;
    height: auto;
  }
  #IDbottle{
    width: 17vw;
    height: auto;
   
  top: 12%;
  left:16%;
  }
#ContVid2{

}

.main2 {
  margin-top: 8vh;

}


}








/** all fix code below */


#bottleParent{

}


.bottle {
  display: inline-block;

width: 25vw;
   position: relative;
   
}
.imgboard {

  position: relative;
  z-index: 1; 
  display: block;
  
}
.imgbottle {
   position: absolute;
   
  z-index: 2; 
 

  transition: transform 3700ms ease-in-out;
  
}

